<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <!-- Icon -->
        <link rel="icon" href="images/cropped-fav_icon-32x32.png">
        <link rel="shortcut" href="images/cropped-fav_icon-32x32.png">
        <link rel="apple-touch" href="images/cropped-fav_icon-32x32.png">
        <!-- Google Fonts 'Work sans' -->
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
        <!-- Main File CSS -->
        <link rel="stylesheet" href="../../CSS/controlePanel.css">
        <link rel="stylesheet" href="../../CSS/style.css">
        <!-- Bootstrap File CSS -->
        <link rel="stylesheet" href="../../CSS/bootstrap.min.css">
        <!-- Normalize File CSS -->
        <link rel="stylesheet" href="../../CSS/normalize.css">
        <!-- Font Awesome Library -->
        <link rel="stylesheet" href="../../CSS/all.min.css">
        <title>Gizmo</title>
    </head>
    <body dir="rtl">
        <div class="wrapper-two">
            <h3 class="title-main">إضافة مستخدم</h3>
            <form class="row g-4 needs-validation" novalidate>
              <div class="col-md-2">
                <label for="validationCustom02" class="form-label">رقم المستخدم</label>
                <input type="text" class="form-control" id="validationCustom02" required>
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>
              <div class="col-md-2">
                <label for="validationCustom02" class="form-label">رقم الموظف</label>
                <input type="text" class="form-control" id="validationCustom02" required>
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>
              <div class="col-md-3">
                <label for="validationCustom01" class="form-label">الإسم</label>
                <input type="text" class="form-control" id="validationCustom01"  required>
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>
              <div class="col-md-2">
                <label for="validationCustom03" class="form-label">اسم المستخدم</label>
                <input type="text" class="form-control" id="validationCustom03" required>
                <div class="invalid-feedback">
                  Please provide a valid city.
                </div>
              </div>
              <div class="col-md-2">
                <label for="validationCustom03" class="form-label">كلمة السر</label>
                <input type="text" class="form-control" id="validationCustom03" required>
                <div class="invalid-feedback">
                  Please provide a valid city.
                </div>
              </div>

              <div class="col-12">
                <button class="btn btn-primary" type="submit">إضافة</button>
              </div>
            </form>
        </div>
        <script src="../../js/bootstrap.bundle.min.js"></script>
        <script src="../../js/indexPanel.js"></script>
        <!-- <script src="../../js/all.min.js"></script> -->
        <script>
          // Example starter JavaScript for disabling form submissions if there are invalid fields
          (function () {
              'use strict'
            
              // Fetch all the forms we want to apply custom Bootstrap validation styles to
              var forms = document.querySelectorAll('.needs-validation')
            
              // Loop over them and prevent submission
              Array.prototype.slice.call(forms)
                .forEach(function (form) {
                  form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                      event.preventDefault()
                      event.stopPropagation()
                    }
            
                    form.classList.add('was-validated')
                  }, false)
                })
            })()
        </script>
    </body>
</html>