<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <!-- Icon -->
        <link rel="icon" href="images/cropped-fav_icon-32x32.png">
        <link rel="shortcut" href="images/cropped-fav_icon-32x32.png">
        <link rel="apple-touch" href="images/cropped-fav_icon-32x32.png">
        <!-- Google Fonts 'Work sans' -->
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
        <!-- Main File CSS -->
        <link rel="stylesheet" href="../../CSS/controlePanel.css">
        <link rel="stylesheet" href="../../CSS/style.css">
        <!-- Bootstrap File CSS -->
        <link rel="stylesheet" href="../../CSS/bootstrap.min.css">
        <!-- Normalize File CSS -->
        <link rel="stylesheet" href="../../CSS/normalize.css">
        <!-- Font Awesome Library -->
        <link rel="stylesheet" href="../../CSS/all.min.css">
        <title>Gizmo</title>
    </head>
    <body dir="rtl">
        <div class="page">
            <div class="sidebar">
                <h3>نظام شؤون الموظفين</h3>
                <ul>
                    <li> 
                        <a href="../dashboard/dashboard.html">
                            <i class="fa-regular fa-chart-bar fa-fw"></i>
                            <span>الرئيسية</span>
                        </a>
                    </li>
                    <li>
                        <a href="../emloyees/employees.html">
                            <i class="fa-regular fa-user fa-fw"></i>
                            <span>الموظفين</span>
                        </a>
                        
                    </li>
                    <li> 
                        <a class="active"  href="users.html">
                            <i class="fa-solid fa-users fa-fw"></i>
                            <span>المستخدمين</span>
                        </a>
                        
                    </li>
                    <li>
                        <a href="">
                            <i class="fa-brands fa-product-hunt fa-fw"></i>
                            <span>التقارير</span>
                        </a>
                        
                    </li>
                    <li>
                        <a href="">
                            <i class="fa-solid fa-box-open"></i>
                            <span>سجل الغياب</span>
                        </a>
                        
                    </li>
                    <li>
                        <a href="../certs/certs.html">
                            <i class="fa-solid fa-box-open"></i>
                            <span>المؤهلات والدورات</span>
                        </a>
                        
                    </li>
                    <li>
                        <a href="../settings/settings.html">
                            <i class="fa-solid fa-gear"></i>
                            <span>الإعدادات</span>
                        </a>
                    </li>
                    <li>
                        <a href="../profile/profile.html">
                            <i class="fa-regular fa-circle-user fa-fw"></i>
                            <span>الحساب</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa-solid fa-arrow-right-to-bracket"></i>
                            <span>خروج</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div id="hide"></div>
            <div class="content">
                <div class="head">
                    <div class="input-box">
                        <form>
                            <input disabled class="search" type="text" name="search" placeholder="بحث" id="">
                        </form>
                    </div>
                    <div class="icons">
                        <span class="notification">
                            <i class="fa-regular fa-bell fa-lg"></i>
                        </span>
                        <img src="../image/employees/photo_2023-01-13_01-42-38.jpg" alt="">
                    </div>
                </div>
                <div class="wrapper-two">
                    <h3 class="title-main">إضافة المستخدمين</h3>
                    <hr>
                    <div class="content-wrapper">
                        <div class="wrapper-two">
                            <form class="row g-4 needs-validation" novalidate>
                                <div class="col-md-2">
                                    <label for="validationCustom01" class="form-label">اسم المستخدم</label>
                                    <input type="text" class="form-control" id="validationCustom01"  required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label for="validationCustom01" class="form-label">الإسم</label>
                                    <input type="text" class="form-control" id="validationCustom01"  required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary" type="submit">بحث</button>
                                  </div>
                            </form>
                        </div>
                        <div class="card-header">
                            <h1 class="title">كل المستخدمين</h1>
                            <a href="add_user.html">إضافة مستخدم</a>
                        </div>
                        <div class="box-table">
                            <table>
                                <thead >
                                    <tr class="sticky-top">
                                        <th>#</th>
                                        <th>الرقم</th>
                                        <th>الإسم</th>
                                        <th>اسم المستخدم</th>
                                        <!-- <th>كلمة السر</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="d-flex justify-content-center align-items-center">
                                            <!-- <a href="#" class="edit print">
                                                <i class="fa-solid fa-print"></i>
                                            </a> -->
                                            <a href="edit_user copy.html" class="edit">
                                                <i class="fa-solid fa-pencil"></i>
                                            </a>
                                            <form action="../../PHP/script.php" method="POST">
                                                <button type="submit" style="border:none; outline:none" class="delete" name="Delete" value="1">
                                                <i class="fa-solid fa-trash-can"></i>
                                                </button>
                                            </form>
                                        </td>
                                        <td>1</td>
                                        <td>جهاد شرع الله</td>
                                        <td>JIHAD_LYX</td>
                                        <!-- <td>922502218</td> -->
                                    </tr>
                                    <tr>
                                        <td class="d-flex justify-content-center align-items-center">
                                            <!-- <a href="#" class="edit print">
                                                <i class="fa-solid fa-print"></i>
                                            </a> -->
                                            <a href="edit_user copy.html" class="edit">
                                                <i class="fa-solid fa-pencil"></i>
                                            </a>
                                            <form action="../../PHP/script.php" method="POST">
                                                <button type="submit" style="border:none; outline:none" class="delete" name="Delete" value="1">
                                                <i class="fa-solid fa-trash-can"></i>
                                                </button>
                                            </form>
                                        </td>
                                        <td>2</td>
                                        <td>علي</td>
                                        <td>ALI01</td>
                                        <!-- <td>922502219</td>  -->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        <script src="../../js/bootstrap.bundle.min.js"></script>
    </body>
</html>