:root{
    --sidebar-color: #211C69;
    --main-bg-color: white;

}
iframe{
    max-height: 100%;
}
button.edit{
    border: none;
    outline: none;
}
.fc-edit{
    color: #198754;
}
.box-s{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.info h1{
    margin: 0.67em 0 0;
    color: var(--sidebar-color);
    font-weight: 600;
    font-size: 2.5em;
}
.info p{
    margin-bottom: 2em;
    color: #777;
}
.icon i{
    color: var(--sidebar-color);
}
.page{
    display: flex;
    min-height: 100vh;
    background-color: #fff;
}
.sidebar{
    width:  250px;
    min-height: 100vh;
    position: fixed;
    top: 0;
    right: 0 ;
    background-color: var(--sidebar-color);
    /* box-shadow: 0 0 10px #ddd; */
}
#hide{
    min-width: 250px !important;
}
.content{
    width: 100%;
    /* padding: 15px; */
    height: 1000px;
}
@media (max-width: 767px){
    .page .sidebar{
        width: 58px;
        padding: 10px;
    }
    #hide{
        min-width: 58px !important;
    }
}
.page .sidebar h3{
    position: relative;
    padding: 20px;
    text-align: center;
    margin-bottom: 60px;
    font-size: 22px;
    font-weight: 600;
    color: white;
}
.page .sidebar h3::before,
.page .sidebar h3::after{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.page .sidebar h3::before{
    top: calc(100% + 20px);
    width: 50%;
    height: 3px;
    background-color: white;
}
.page .sidebar h3::after{
    top: calc(100% + 12px);
    width: 14px;
    height: 14px;
    border: 3px solid white;
    border-radius: 50%;
    background-color: var(--sidebar-color);
}
@media (max-width: 767px){
    .page .sidebar h3{
        font-size: 12px;
        margin-bottom: 25px;
    }
    .page .sidebar h3::before,
.page .sidebar h3::after{
    width: 0;
    height: 0;
    border: none;
}
}
.page .sidebar ul{
    padding: 20px 20px 20px 0px;
    width: 100%;
}
.page .sidebar li a{
    text-decoration: none;
    position: relative;
    cursor: pointer;
    display: block;
    width: 100%;
    padding: 10px 5px;
    border-radius: 8px;
    color: white;

}
.page .sidebar li a:not(.active):hover{
    transform: scale(1.04);
}
.page .sidebar li a:not(.active){
    transition: 0.2s;
}
.page .sidebar ul li a.active{
    background-color: var(--main-bg-color);
    color: var(--sidebar-color);
}
.page .sidebar ul li a.active::before,
.page .sidebar ul li a.active::after{
    content: "";
    position: absolute;
    left: 0;
    background-color: transparent;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    pointer-events: none;

}
.page ul li a.active::before{
    top: -50%;
    box-shadow: -15px 15px 0 5px var(--main-bg-color);
}
.page ul li a.active::after{
    bottom: -50%;
    box-shadow: -15px -15px 0 5px var(--main-bg-color);
}
.page ul li a i{
    text-align: center;
    width: 1.25em;
}
.page ul li a span{
    font-size: 20px;
}
.page ul li a:not(.active):hover span{
    text-decoration: 1px solid underline black;
}
@media (max-width: 767px){
    .page ul li a span{
        display: none;
    }
}

/* Start Content */
.page .content .head{
    padding: 20px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}
.content .head .input-box{
    position: relative;
    border-radius: 8px;
}
.content .head .input-box::before{
    font-family: "Font Awesome 5 Free";
    content: "\f002";
    font-weight: 900;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: #888;
}
.content .head .input-box input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-left: 5px;
    padding-left: 30px;
    font-size: 14px;
    width: 160px;
    transition: width 0.3s;
    outline: none;
}
.page .head .icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.page .head .icons span{
    position: relative;
}
.page .head .icons span::before{
    content: '';
    position: absolute;
    top: -4px;
    right: -3px;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    z-index: 1;
}
.page .head .icons i{
    position: relative;
    top: 3px;
    font-size: 22px;
}
.page .head .icons img{
    margin-right: 10px;
    width: 30px;
    height: 30px;
    max-width: 100%;
    border-radius: 50%;
}
.content{
    max-width: calc(100vw - 270px);
}
.content .title-main{
    margin: 20px 20px 40px;
    position: relative;
    width: fit-content;
    font-size: 35px;
    font-weight: 600;
}
.content .title-main::before,
.content .title-main::after{
    content: '';
    position: absolute;
    bottom: -10px;
    height: 2px;
}
.content .title-main::before{
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
}
.content .title-main::after{
    right: 0%;
    width: 50%;
    background-color: #111;
}
.wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    /* grid-template-columns: 1fr; */
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    grid-gap: 20px;
}
/* Table Employee */
.wrapper-two{
    padding: 20px 30px;
    /*position: relative;*/
    z-index: 4;
}
.nav-link a{
    color: #0d6efd;
    text-decoration: none;
}
.content-wrapper{
    border: 1px solid #ccc;
    background-color: #fff;
    /*height: 800px;*/
}
.wrapper-two .card-header{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    background-color: #f8f8f8;
}
.wrapper-two .title-main{
    font-size: 20px;
    margin-bottom: 20px;
}
 .card-header .title{
     font-size: 22px;
    margin: 0;
    font-weight: 600;
}
.card-header a{
    text-decoration: none;
    font-size: 16px;
    padding: 8px 15px;
    border-radius: 6px;
    background-color: #026CFF;
    color: white;
    transition: 0.3s;
}
.card-header a:hover{
    color: white;
    box-shadow: 0px 0px 7px 1px #026bff9f;
}
.wrapper-two .box-table{
    padding: 10px;
    overflow: scroll;
    height: 548px;
    /* max-height: 100%; */
}
.wrapper-two table{
    /* overflow: scroll; */
    border-collapse: collapse;
    border: 2px solid #eee;
    width: 100%;
    max-height: 100% !important;
}
 .wrapper-two table thead{
    border-bottom: 2px solid black !important;
}
 .wrapper-two table tr:nth-child(even){
    background-color: #f5f5f5;
}
 .wrapper-two table th,
.wrapper-two table td{
    text-align: right;
    padding: 10px 5px;
    white-space: nowrap;
}
.wrapper-two table th,
.wrapper-two table td{
    border-right: 2px solid #eee;
    border-bottom: 1px solid #ddd;
}
.wrapper-two table tr{
    max-height: 50px !important;
}
.wrapper-two table .edit{
    text-decoration: none;
    display: block;
    font-size: 12px;
    padding: 5px;
    margin-right: 5px;
    border-radius: 6px;
    background-color: #FFC107;
    color: white;
}
.wrapper-two table .edit.print{
    background-color: #026CFF;
}
.wrapper-two table .delete{
    font-size: 14px;
    padding: 5px;
    margin-right: 5px;
    border-radius: 6px;
    background-color: #EB4540;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
}

/* Table Employee */
.content .wrapper .box form {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-gap: 30px;
}
@media (max-width: 767px){
    .content .wrapper .box form{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
.content .wrapper  form .input-box{
    width: 100%;
}
.content .wrapper  form .input-box input,
form .input-box select,
#text-area{
    display: block;
    width: 100%;
    padding: 6px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    margin-top: 10px;
}
.content .wrapper  form .input-box select{
    padding: 0px 10px;
}
#text-area{
    height: 100px;
    max-height: 100px;
}
.content .wrapper  form .input-box input.error{
    border-color: #EB4540;
}

.content .wrapper  form .btn-submit{
    grid-column: 1 / 3;
    width: 100%;
}
.content .wrapper  form .btn-submit input{
    width: 100%;
    padding: 10px 0;
    outline: none;
    border: none;
    border-radius: 6px;
    background-color: #3b3b3b;
    color: White;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
@media (max-width: 767px){
    .content .wrapper  form .btn-submit input{
        display: block;
    }
}

#upload-photo{
    display: none;
}
.input-box #upload-photo + div{
    margin-top: 10px;
    width: 200px;
    padding: 8px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: red;
    border-radius: 5px;
    cursor: pointer;
}

.content .profile{
    display: flex;
    justify-content: center;
}
.content .profile .box{
    padding: 20px 30px;
    border-radius: 20px;
    background-color: #fff;
    width: 75%;
    min-height: 400px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.content .profile .input-box{
    margin-bottom: 15px;
    width: 50%;

}
@media (min-width: 1001px){
    content .profile .box{
        grid-template-columns: minmax(300px, 1fr), minmax(300px, 1fr);
    }
    .content .profile .input-box{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
}
.content .profile .input-box label{
    font-size: 15px;
    font-weight: 600;
    color: #888;
}
.content .profile .input-box h3{
    margin-right: 20px;
    font-size: 20px;
    font-weight: 500;
}
@media (max-width: 1000px){
    .content .profile .input-box h3{
        margin-right: 0;
        margin-top: 10px;
        font-size: 18px;

    }
}
.content .profile .input-box a{
    display: block;
    width: fit-content;
    font-size: 16px;
    font-weight: 600;
    padding: 7px 15px;
    background-color: #026CFF;
    color: #fff;
    border-radius: 8px;
}
.content .profile .input-box a.disabled{
    background-color: #707070;
}
/* End Content */
