<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <!-- Icon -->
        <link rel="icon" href="images/cropped-fav_icon-32x32.png">
        <link rel="shortcut" href="images/cropped-fav_icon-32x32.png">
        <link rel="apple-touch" href="images/cropped-fav_icon-32x32.png">
        <!-- Google Fonts 'Work sans' -->
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
        <!-- Main File CSS -->
        <link rel="stylesheet" href="../../CSS/controlePanel.css">
        <link rel="stylesheet" href="../../CSS/style.css">
        <!-- Bootstrap File CSS -->
        <link rel="stylesheet" href="../../CSS/bootstrap.min.css">
        <!-- Normalize File CSS -->
        <link rel="stylesheet" href="../../CSS/normalize.css">
        <!-- Font Awesome Library -->
        <link rel="stylesheet" href="../../CSS/all.min.css">
        <title>Gizmo</title>
    </head>
    <body dir="rtl" style="height:100%">
      <div class="page">
        <div class="sidebar">
          <h3>نظام شؤون الموظفين</h3>
          <ul>
            <li> 
                <a href="../dashboard/dashboard.html">
                    <i class="fa-regular fa-chart-bar fa-fw"></i>
                    <span>الرئيسية</span>
                </a>
            </li>
            <li>
                <a class="active" href="../emloyees/employees.html">
                    <i class="fa-regular fa-user fa-fw"></i>
                    <span>الموظفين</span>
                </a>
                
            </li>
            <li> 
                <a href="../users/users.html">
                    <i class="fa-solid fa-users fa-fw"></i>
                    <span>المستخدمين</span>
                </a>
                
            </li>
            <li>
                <a href="">
                    <i class="fa-brands fa-product-hunt fa-fw"></i>
                    <span>التقارير</span>
                </a>
                
            </li>
            <li>
                <a href="">
                    <i class="fa-solid fa-box-open"></i>
                    <span>سجل الغياب</span>
                </a>
                
            </li>
            <li>
                <a href="../certs/certs.html">
                    <i class="fa-solid fa-box-open"></i>
                    <span>المؤهلات والدورات</span>
                </a>
                
            </li>
            <li>
                <a href="../settings/settings.html">
                    <i class="fa-solid fa-gear"></i>
                    <span>الإعدادات</span>
                </a>
            </li>
            <li>
                <a href="../profile/profile.html">
                    <i class="fa-regular fa-circle-user fa-fw"></i>
                    <span>الحساب</span>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa-solid fa-arrow-right-to-bracket"></i>
                    <span>خروج</span>
                </a>
            </li>
        </ul>
      </div>
        <div id="hide"></div>
        <div class="content">
            <div class="head">
                <div class="input-box">
                    <form>
                        <input disabled class="search" type="text" name="search" placeholder="بحث" id="">
                    </form>
                </div>
                <div class="icons">
                    <span class="notification">
                        <i class="fa-regular fa-bell fa-lg"></i>
                    </span>
                    <img src="../image/employees/photo_2023-01-13_01-42-38.jpg" alt="">
                </div>
            </div>
            <div class="wrapper-two">
              <h3 class="title-main">إضافة الموظفين</h3>
              <hr>
              <div class="content-wrapper h-auto" >
                <div class="wrapper-two">
                  <form class="row g-4 needs-validation" novalidate>
                    <div class="col-md-2">
                      <label for="validationCustom02" class="form-label">رقم الموظف</label>
                      <input type="text" class="form-control" id="validationCustom02" required>
                      <div class="valid-feedback">
                        Looks good!
                      </div>
                    </div>
                    <div class="col-md-3">
                      <label for="validationCustom01" class="form-label">الإسم</label>
                      <input type="text" class="form-control" id="validationCustom01"  required>
                      <div class="valid-feedback">
                        Looks good!
                      </div>
                    </div>
                    <div class="col-md-2">
                      <label for="validationCustom03" class="form-label">اسم الأم</label>
                      <input type="text" class="form-control" id="validationCustom03" required>
                      <div class="invalid-feedback">
                        Please provide a valid city.
                      </div>
                    </div>
                    <div class="col-md-2">
                      <label for="validationCustom04" class="form-label">الجنس</label>
                      <select class="form-select" id="validationCustom04" required>
                        <!-- <option selected disabled value="">اختر</option> -->
                        <option selected value="0">ذكر</option>
                        <option value="1">انثى</option>
                      </select>
                      <div class="invalid-feedback">
                        Please select a valid state.
                      </div>
                    </div>
                    <div class="col-md-2">
                      <label for="validationCustom02" class="form-label">الرقم الوطني</label>
                      <input type="text" class="form-control" id="validationCustom02" required>
                      <div class="valid-feedback">
                        Looks good!
                      </div>
                    </div>
                    <div class="col-md-2">
                      <label for="validationCustom04" class="form-label">الحالة الإجتماعية</label>
                      <select class="form-select" id="validationCustom04" required>
                        <option selected disabled value="">اختر</option>
                        <option value="0">اعزب</option>
                        <option value="1">متزوج</option>
                        <option value="2">مطلق</option>
                        <option value="3">ارملة</option>
                      </select>
                      <div class="invalid-feedback">
                        Please select a valid state.
                      </div>
                    </div>
                    <div class="col-md-2">
                      <label for="validationCustom02" class="form-label">رقم البطاقة</label>
                      <input type="text" class="form-control" id="validationCustom02" required>
                      <div class="valid-feedback">
                        Looks good!
                      </div>
                    </div>
                    <div class="col-md-2">
                      <label for="validationCustom02" class="form-label">رقم الجواز</label>
                      <input type="text" class="form-control" id="validationCustom02" required>
                      <div class="valid-feedback">
                        Looks good!
                      </div>
                    </div>
                    <div class="col-md-2">
                      <label for="validationCustom05" class="form-label">تاريخ الميلاد</label>
                      <input type="date" class="form-control" id="validationCustom05" required>
                      <div class="invalid-feedback">
                        Please provide a valid zip.
                      </div>
                    </div>
                    <div class="col-md-2">
                      <label for="validationCustom05" class="form-label">الدرجة الوظيفية</label>
                      <input type="text" class="form-control" id="validationCustom05" required>
                      <div class="invalid-feedback">
                        Please provide a valid zip.
                      </div>
                    </div>
                    <div class="col-md-2">
                      <label for="validationCustom04" class="form-label">الرتبة</label>
                      <select class="form-select" id="validationCustom04" required>
                        <option selected disabled value="">اختر</option>
                        <option value="0">اعزب</option>
                        <option value="1">متزوج</option>
                        <option value="2">مطلق</option>
                        <option value="3">ارملة</option>
                      </select>
                      <div class="invalid-feedback">
                        Please select a valid state.
                      </div>
                    </div>
                    <div class="col-md-2">
                      <label for="validationCustom04" class="form-label">حالة العمل</label>
                      <select class="form-select" id="validationCustom04" required>
                        <option selected disabled value="">اختر</option>
                        <option value="0">اعزب</option>
                        <option value="1">متزوج</option>
                        <option value="2">مطلق</option>
                        <option value="3">ارملة</option>
                      </select>
                      <div class="invalid-feedback">
                        Please select a valid state.
                      </div>
                    </div>
                    <div class="col-md-2">
                      <label for="validationCustom04" class="form-label">جهة العمل</label>
                      <select class="form-select" id="validationCustom04" required>
                        <option selected disabled value="">اختر</option>
                        <option value="0">اعزب</option>
                        <option value="1">متزوج</option>
                        <option value="2">مطلق</option>
                        <option value="3">ارملة</option>
                      </select>
                      <div class="invalid-feedback">
                        Please select a valid state.
                      </div>
                    </div>
                    <div class="col-md-2">
                      <label for="validationCustom05" class="form-label">تاريخ التعين</label>
                      <input type="date" class="form-control" id="validationCustom05" required>
                      <div class="invalid-feedback">
                        Please provide a valid zip.
                      </div>
                    </div>
                    <div class="col-md-2">
                      <label for="validationCustom05" class="form-label">تاريخ أخر ترقية</label>
                      <input type="date" class="form-control" id="validationCustom05" required>
                      <div class="invalid-feedback">
                        Please provide a valid zip.
                      </div>
                    </div>
                    <div class="col-md-2">
                      <label for="validationCustom05" class="form-label">تاريخ المباشرة</label>
                      <input type="date" class="form-control" id="validationCustom05" required>
                      <div class="invalid-feedback">
                        Please provide a valid zip.
                      </div>
                    </div>
                    <div class="col-md-2">
                      <label for="validationCustom05" class="form-label">تاريخ القرار</label>
                      <input type="date" class="form-control" id="validationCustom05" required>
                      <div class="invalid-feedback">
                        Please provide a valid zip.
                      </div>
                    </div>
                    <div class="col-md-2">
                      <label for="validationCustom05" class="form-label">رقم القرار</label>
                      <input type="text" class="form-control" id="validationCustom05" required>
                      <div class="invalid-feedback">
                        Please provide a valid zip.
                      </div>
                    </div>
                    <div class="col-md-2">
                      <label for="validationCustom05" class="form-label">الشريحة</label>
                      <input type="text" class="form-control" id="validationCustom05" required>
                      <div class="invalid-feedback">
                        Please provide a valid zip.
                      </div>
                    </div>
                    <div class="col-md-2">
                      <label for="validationCustom05" class="form-label">مدة الإستحقاق</label>
                      <input type="text" class="form-control" id="validationCustom05" required>
                      <div class="invalid-feedback">
                        Please provide a valid zip.
                      </div>
                    </div>
                    <div class="col-md-2">
                      <label for="validationCustom05" class="form-label">الإستحقاق القادم</label>
                      <input type="text" class="form-control" id="validationCustom05" required>
                      <div class="invalid-feedback">
                        Please provide a valid zip.
                      </div>
                    </div>
                    <div class="col-md-2">
                      <label for="validationCustom05" class="form-label">تاريخها</label>
                      <input type="date" class="form-control" id="validationCustom05" required>
                      <div class="invalid-feedback">
                        Please provide a valid zip.
                      </div>
                    </div>
                    <div class="col-md-4">
                      <label for="validationTextarea" class="form-label">سببها</label>
                      <textarea class="form-control" id="validationTextarea" placeholder="Required example textarea" required></textarea>
                      <div class="invalid-feedback">
                        Please enter a message in the textarea.
                      </div>
                    </div>
                    <div class="col-md-3">
                      <label for="validationCustom05" class="form-label">المؤهل العلمي</label>
                      <input type="text" class="form-control" id="validationCustom05" required>
                      <div class="invalid-feedback">
                        Please provide a valid zip.
                      </div>
                    </div>
                    <div class="col-md-4">
                      <label for="validationCustom05" class="form-label">المؤهل</label>
                      <input type="file" class="form-control" aria-label="file example" required>
                      <div class="invalid-feedback">Example invalid form file feedback</div>
                    </div>
                    <div class="col-md-2">
                      <label for="validationCustom05" class="form-label">الصفة</label>
                      <input type="text" class="form-control" id="validationCustom05" required>
                      <div class="invalid-feedback">
                        Please provide a valid zip.
                      </div>
                    </div>
                    <div class="col-md-4">
                      <label for="validationCustom05" class="form-label">صورة شخصية</label>
                      <input type="file" class="form-control" aria-label="file example" required>
                      <div class="invalid-feedback">Example invalid form file feedback</div>
                    </div>
                    <div class="col-md-4">
                      <label for="validationTextarea" class="form-label">ملاحظة</label>
                      <textarea class="form-control" id="validationTextarea" placeholder="Required example textarea" required></textarea>
                      <div class="invalid-feedback">
                        Please enter a message in the textarea.
                      </div>
                    </div>
                    <!-- <div class="col-12">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                        <label class="form-check-label" for="invalidCheck">
                          Agree to terms and conditions
                        </label>
                        <div class="invalid-feedback">
                          You must agree before submitting.
                        </div>
                      </div>
                    </div> -->
                    <div class="col-12">
                      <button class="btn btn-primary" type="submit">إضافة</button>
                    </div>
                  </form>
  
                </div>
              </div>
          </div>
        </div>
      </div>
        <script src="../../js/bootstrap.bundle.min.js"></script>
        <script src="../../js/indexPanel.js"></script>
        <script>
          // Example starter JavaScript for disabling form submissions if there are invalid fields
          (function () {
              'use strict'
            
              // Fetch all the forms we want to apply custom Bootstrap validation styles to
              var forms = document.querySelectorAll('.needs-validation')
            
              // Loop over them and prevent submission
              Array.prototype.slice.call(forms)
                .forEach(function (form) {
                  form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                      event.preventDefault()
                      event.stopPropagation()
                    }
            
                    form.classList.add('was-validated')
                  }, false)
                })
            })()
        </script>
    </body>
</html>