<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <!-- Icon -->
        <link rel="icon" href="images/cropped-fav_icon-32x32.png">
        <link rel="shortcut" href="images/cropped-fav_icon-32x32.png">
        <link rel="apple-touch" href="images/cropped-fav_icon-32x32.png">
        <!-- Google Fonts 'Work sans' -->
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
        <!-- Main File CSS -->
        <link rel="stylesheet" href="../../CSS/controlePanel.css">
        <link rel="stylesheet" href="../../CSS/style.css">
        <link rel="stylesheet" href="../../CSS/dataTables.bootstrap5.min.css">
        <!-- Bootstrap File CSS -->
        <link rel="stylesheet" href="../../CSS/bootstrap.min.css">
        <!-- Normalize File CSS -->
        <link rel="stylesheet" href="../../CSS/normalize.css">
        <!-- Font Awesome Library -->
        <link rel="stylesheet" href="../../CSS/all.min.css">
        <title>Gizmo</title>
    </head>
    <body dir="rtl">
        <div class="wrapper-two">
            <h3 class="title-main">إدارة الموظفين</h3>
            <hr>
            <div class="content-wrapper">
                <div class="card-header">
                    <h1 class="title">كل الموظفين</h1>
                    <a href="add_emp.html">إضافة موظف</a>
                </div>
                <div class="box-table">
                    <table>
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>الرقم</th>
                                <th>الإسم</th>
                                <th>الحالة الإجتماعية</th>
                                <th>الجنس</th>
                                <th>اسم الأم</th>
                                <th>الدرجة الوظيفية</th>
                                <th>المؤهل العلمي</th>
                                <th>الرتبة</th>
                                <th>حالة العمل</th>
                                <th>جهة العمل</th>
                                <th>تاريخ التعيين</th>
                                <th>تاريخ الميلاد</th>
                                <th>تاريخ اخر ترقية</th>
                                <th>رقم البطاقة</th>
                                <th>رقم الجواز</th>
                                <th>الرقم الوطني</th>
                                <th>تاريخ المباشرة</th>
                                <th>الشريحة</th>
                                <th>مدة الإستحقاق</th>
                                <th>الاستحقاق القادم</th>
                                <th>تاريخها</th>
                                <th>سببها</th>
                                <th>تاريخ القرار</th>
                                <th>رقم القرار</th>
                                <th>صورة شخصية</th>
                                <th>الصفة</th>
                                <th>ملاحظة</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="d-flex justify-content-center align-items-center">
                                    <a href="#" class="edit print">
                                        <i class="fa-solid fa-print"></i>
                                    </a>
                                    <a href="edit_emp.html" class="edit">
                                        <i class="fa-solid fa-pencil"></i>
                                    </a>
                                    <form action="../../PHP/script.php" method="POST">
                                        <button type="submit" style="border:none; outline:none" class="delete" name="Delete" value="1">
                                        <i class="fa-solid fa-trash-can"></i>
                                        </button>
                                    </form>
                                </td>
                                <td>1</td>
                                <td>جهاد شرع الله</td>
                                <td>اعزب</td>
                                <td>ذكر</td>
                                <td>ليسبلس</td>
                                <td>1</td>
                                
                            </tr>
                            <tr>
                                <td class="d-flex justify-content-center align-items-center">
                                    <a href="#" class="edit print">
                                        <i class="fa-solid fa-print"></i>
                                    </a>
                                    <a href="edit_emp.html" class="edit">
                                        <i class="fa-solid fa-pencil"></i>
                                    </a>
                                    <form action="../../PHP/script.php" method="POST">
                                        <button type="submit" style="border:none; outline:none" class="delete" name="Delete" value="1">
                                        <i class="fa-solid fa-trash-can"></i>
                                        </button>
                                    </form>
                                </td>
                                <td>2</td>
                                <td>علي</td>
                                <td>ALI01</td>
                                <td>ali@gmail.com</td>
                                <td>922502219</td>
                                <td>مشرف</td>
                                
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <script src="../../js/bootstrap.bundle.min.js"></script>
    </body>
</html>